# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

docker/prometheus
docker/prometheus/*
docker/grafana
docker/grafana/*

*/logger.file.log

/.idea
